[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/cloudwu/lsocket.git
