[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "3rd/skynet_package"]
	path = 3rd/skynet_package
	url = https://github.com/cloudwu/skynet_package.git
[submodule "lua-cjson"]
	path = lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
